<p>news works!</p>




<div class="wrapper">
  <div class="filters mt-5">
    <div class="row">
      <div class="form-group col-4">
        <label class="selectName" for="country">Country:</label>
        <select
          class="form-control"
          [(ngModel)]="currentCountry"
          (change)="onChange()"
        >
          <option *ngFor="let country of countryList" [ngValue]="country">{{country}}</option>
        </select>
      </div>

      <div class="form-group col-4">
        <label class="selectName" for="category">Category:</label>
        <select
          class="form-control"
          [(ngModel)]="currentCategory"
          (change)="onChange()"
        >
          <option *ngFor="let category of categoryList" [ngValue]="category">{{category}}</option>
        </select>
      </div>

      <div class="form-group col-4">
        <label class="selectName" for="source">Source:</label>
        <select
          class="form-control"
          [(ngModel)]="currentSource"
          (change)="onChangeSource()"
        >
          <option *ngFor="let source of sourceList" [ngValue]="source.id">{{source.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="card text-center mb-3" *ngFor="let news of newsList">
    <div class="card-header">{{ news.source.name }}</div>
    <div class="news-preview"><img [src]="news.urlToImage" alt="no photo"></div>
    <div class="card-body">
      <h6 class="card-title">{{ news.title }}</h6>
      <p class="card-text">{{ news.description }}</p>
      <a href="{{ news.url }}" class="btn btn-primary">Read more</a>
    </div>

    <div class="card-footer">{{ news.publishedAt }}</div>
  </div>
</div>
