
<main>

<header>
  <h1><a [routerLink]="['/']">{{ title }}</a></h1>
</header>

  <app-home></app-home>

<nav class="nav-bar">
  <ul class="menu-list">
    <li class="list-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
    <li class="list-item" routerLinkActive="active"><a [routerLink]="'/todo-list'">Todo</a></li>
    <li class="list-item" routerLinkActive="active"><a [routerLink]="['/news']">News</a></li>
  </ul>
</nav>

    <hr>

<h2>ToDo app</h2>

  <todo-form (add)="create($event)"></todo-form>
  <todo-list [todos]="todos$ | async"></todo-list>



  <h2>News app</h2>
  <router-outlet></router-outlet>
<!--    <app-news></app-news>-->
</main>
