
.todo-item {
  padding: 1em;
  display: flex;
  align-items: center;
}

.todo-item .checkbox {
  margin-right: .25em;
  opacity: .4;
}

.todo-item.completed .title {
  text-decoration: line-through;
  font-style: italic;
}

.todo-item.completed .title,
.todo-item.completed .material-icons {
  color: slategrey;
}

.todo-item input {
  flex: 1;
  margin-right: 1rem;
}

.todo-item .actions {
  margin-left: auto;
  opacity: 0;
}

.todo-item:hover .actions {
  opacity: .3;
}
