.wrapper-form {
  width: 440px;
  border: 1px dashed #bcbcbc;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
}

.label-text {
  display: block;
  padding: 5px;
}

.input-text {
  margin: 0;
  border-radius: 0;
  height: 20px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 400px;
}

.btn-add-task {
  background: #24b38c;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.btn-add-task:hover {
  background: #089b73;
}


td {
  background: #d8d8d8;
  padding: 5px;
} 

th {
  background: #002551;
  height: 25px;
  color: #f8f8f8;
  padding: 5px;
}


button {
  height: 30px;
  background: #bdbaba;
  color: #000000;
  border: .5px solid #696767;
  border-radius: 8px;
}